@font-face {
  font-family: 'logofont';
  src: url("fonts/analogue86blackoblique.ttf") format('truetype');
}

@font-face {
  font-family: 'bodytext';
  src: url("fonts/analogue55regular.ttf") format('truetype');
}

@font-face {
  font-family: 'menutext';
  src: url("fonts/analogue65medium.ttf") format('truetype');
}
@font-face {
  font-family: 'italic';
  src: url("fonts/analogue46lightoblique.ttf") format('truetype');
}

body {
  font-family: 'bodytext';
  margin: 0;
  position: relative;
}

h1, h2, h3, p {
  color: #64808C;
}

p {
  margin: auto;
  max-width: 85%;
}

a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

body p {
  font-size: .9rem;
}

section {
  display: flex;
  background-color: #FDEEB7;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

input {
  width: 80%;
  margin: 0.5rem;
  height: 2rem;

  text-align: center;
  border: solid 2.5px;
  border-radius: 5px;
  border-color: rgb(100, 128, 140);
  font-size: 1rem;
}

input[type=submit] {
  width: 50%;
  height: 2rem;
  margin: 0.5rem;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: rgb(100, 128, 140);
  box-shadow: 0 0 5px 1px black;
}

button {
  width: 50%;
  height: 2rem;
  margin: 0.5rem;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: rgb(100, 128, 140);
  box-shadow: 0 0 5px 1px black;
  text-align: center;
}

img {
  width: 100%;
}

.main-logo {
  font-family: 'logofont';
}

/*main navigation bar*/
.header {
  position: relative;
  width: 100%;
}

.main-logo {
  margin: 0;
  padding: 0;
}

#menu-mobile {
  text-decoration: none;
}

#main-nav-bar {
  background-color: white;
  position: absolute;
  width: 100%;
}

#main-nav-bar ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#main-nav-bar ul li {
  margin: 1em;
}

#search-img {
  width: 1.3rem;
}

/*main-navigation-bar links*/
#main-nav-bar-links {
  background-color: white;
  display: none;
  flex-direction: column;
  position: absolute;
  align-self: flex-end;
  top: 2rem;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 2em;
  padding-bottom: 1em;
  width: 30%;
}

#main-nav-bar-links a {
  font-family: 'menutext';
  color: black;
  text-decoration: none;
  padding: .6rem .3rem .5rem .3rem;
  border-radius: 10px;
}

#main-nav-bar-links a:hover, #main-nav-bar-links a:focus {
  background-color: #FDEEB7;
}

.responsive {
  display: flex;
}

/*about content*/
.about {
  background-color: #FDEEB7;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3rem 0 3rem;
}

#about-header {
  margin-bottom: 4rem;
}

/*sign-in list*/
#sign-in {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#sign-in-form {
  align-items: center;
}

#password-reset-btn {
  color: rgb(100, 128, 140);
  font-family: 'italic';
  margin: 1rem 0 1rem 0;
}

/*register*/
#register {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#register-form {
  align-items: center;
  justify-content: center;
}

/*product list*/
.product-image {
  width: 17vh;
  height: auto;
}

.product-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.prod-desc {
  font-style: italic;
  font-weight: lighter;
  font-size: .85rem;
}
/*product list*/
.productlist {
  flex-direction: column;
  background-color: #FDEEB7;
  justify-content: center;
  align-items: center;
  padding: 0 2rem 0 2rem;
}

.productdesc {
  flex-direction: column;
  background-color: #FDEEB7;
  justify-content: center;
  align-items: center;
  padding: 0 2rem 0 2rem;
  height: 100vh;
}

#productlist-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-space {
  margin-bottom: 4rem;
}
h2 {
  font-size: .9rem;
}

h3 {
  font-weight: lighter;
  font-style: italic;
  font-size: .85rem;
}

/*cart*/
.cart-item {
  margin: 1em;
  width: 25%;
}

#cart {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#cart-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
